<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <style>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #71bd7e;
} 
    </style>
</head>
<body>
    <ul>
        <li><a href="/todos">Home</a></li>
        <li><a href="/todos/add">Add a todo</a></li>
        <li><a href="/users/{{id}}">Profil</a></li>
        <li><a href="/users">Sign-in</a></li>
        <li><a href="/users/add">Sign-up</a></li>

    </ul> 
  <div id="main-paragraphe" class="center">
      {{{content}}}
  </div>
</body>
</html>