<!DOCTYPE html>
    <html>
        <head>
            <title>title</title>
        </head>
        <body class="container">
            <h1>Bonjour</h1>
            <form method="POST" action="/todos">
                <label for="name">Nom du Todo :</label>
                <input type="text" name="name"></br>
                <label for="completion">Fait ?</label>
                <input type="checkbox" name="completion">
                <button type="submit">Créer</button>
            </form>
        </body>
    </html>