<!DOCTYPE html>
    <html>
        <head>
            <title>title</title>
        </head>
        <body class="container">
            <h1>Bonjour</h1>
            <form method="POST" style="border: 1px solid black; margin: 15px; width: 450px">
                <label for="name" style="width: 300px; display: inline; margin-left: 10px">Nom :</label>
                <input type="text" name="nom" style="width: 150px; margin-left: 10px"></br>
                <label for="completion" style="width: 300px; margin-left: 30px">Pass :</label>
                <input type="text" name="pass" style="width: 150px; margin-right: 10px; margin-top: 10px">
                <input type="submit" value="Connexion" style="width: 100px; margin-left: 200px; margin-top: 10px">
            </form>
        </body>
    </html>