<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    {{!-- <form method='POST' style="border: 1px solid black">
        <label for="name">NOM :</label>
        <input type="text" name="name">
        <label for="desc">DESC :</label>
        <input type="text" name="desc">
        <button type="submit">ENVOYER</button>
    </form> --}}
  <h1>Bonjour tout le monde</h1>
  <div id="main-paragraphe" class="center">
      {{{content}}}
  </div>
</body>
</html>